<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
 
<mapper namespace="com.nexcloud.fullfillment.mapper.DBMapper">
    <insert id="insertLog" parameterType="java.util.Map">
    	insert	into nexclipper_log
    	(
    	   	  host_ip
    		, container_id
    		, stream
    		, log
    		, time
    	)
    	values	
    	<foreach collection="list" item="item" separator=" , ">
    	(
    		  #{item.host_ip}
    		, #{item.container_id}
    		, #{item.stream}
    		, #{item.log}
    		, #{item.time}
    	)
    	</foreach>
    </insert>
</mapper>
