<?xml version="1.0" encoding="EUC-KR"?>
<configuration>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %class{36}.%method:%line - %msg%n</pattern>
        </encoder>
    </appender>
<!-- 	<logger name="org.springframework" level="info" />
		<root level="info"> -->
    <logger name="org.springframework" level="info" />
    <root level="info">
        <appender-ref ref="console" />
    </root>
</configuration>