<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
 
<mapper namespace="com.nexcloud.rdb.mysql.mapper.RuleRepository">
	<select id="getRuleList" parameterType="com.nexcloud.rdb.domain.mysql.Rule" resultType="com.nexcloud.rdb.domain.mysql.Rule">
		select   idx
    			,agent_id
    			,severity
    			,`target_system`
    			,`target`
    			,`type`
    			,`scale_type`
    			,data_source
    			,`table`
    			,`metric`
    			,group_by
    			,`condition`
    			,message
    			,`status`
    			,date_format(regdt, '%Y-%m-%d %H:%i:%s') regdt
		from nexclipper_rule
		where 1 = 1
		
		<if test="target_system!=null and target_system!=''">
		and  target_system = #{target_system}
		</if>
		
		<if test="target!=null and target!=''">
		and  target = #{target}
		</if>
		
		<if test="metric!=null and metric!=''">
		and  metric like  concat(concat('%',#{metric}),'%')
		</if>
		
		order by idx asc
    </select>	
</mapper>



