<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
 <!-- 
  Copyright 2019 NexCloud Co.,Ltd.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
 
      http://www.apache.org/licenses/LICENSE-2.0
 
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<mapper namespace="com.nexcloud.rdb.mysql.mapper.RuleRepository">
	<select id="getRuleList" parameterType="com.nexcloud.rdb.domain.mysql.Rule" resultType="com.nexcloud.rdb.domain.mysql.Rule">
		select   idx
    			,agent_id
    			,severity
    			,`target_system`
    			,`target`
    			,`type`
    			,`scale_type`
    			,data_source
    			,`table`
    			,`metric`
    			,group_by
    			,`condition`
    			,message
    			,`status`
    			,date_format(regdt, '%Y-%m-%d %H:%i:%s') regdt
		from nexclipper_rule
		where 1 = 1
		
		<if test="target_system!=null and target_system!=''">
		and  target_system = #{target_system}
		</if>
		
		<if test="target!=null and target!=''">
		and  target = #{target}
		</if>
		
		<if test="metric!=null and metric!=''">
		and  metric like  concat(concat('%',#{metric}),'%')
		</if>
		
		order by idx asc
    </select>	
</mapper>



