<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
 
<mapper namespace="com.nexcloud.rdb.mapper.mysql.CommandRepository">
	<select id="getCommandList" resultType="Command">
		SELECT
			idx,
			type,
			host_ip hostIp, 
			target,
			filename, 
			gaguage,
			container_id containerId, 
			run,
			`read`, 
			regdt 
		FROM
			nexclipper_command
	</select>
</mapper>
